/*setting font*/ 
*{
  font-family: 'Trebuchet MS', sans-serif;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*Navbar*/
.topdiv{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  position: fixed;
  background-color: #ffff;
  width: 100%;
  height: 10vh;
  animation: fadeIn 1s;
}

.logo{
  margin-left: 5%;
  color: #093594;
}

.cartbutton{
  margin: 4% 5% 0 0;
  width: 11em;
  height: 6vh;
  background-color: #0e6bc2;
  color: #ffffff;
  border-radius: 12px;
  transition: 0.3s;
}

.cartbutton:hover{
  background-color: #ffffff;
  color: #0e6bc2;
  cursor: pointer;
}

.cartbutton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cartSet{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 20%;
}

.counter{
  background-color: #0e6bc2;
  color: #ffffff;
  margin: 4% 5% 0 0;
  text-align: center;
  width: 10%;
  height: 3vh;
  border-radius: 100%;
}

/*Home Screen*/
.home{
  background-image: url(../public/img/bg.jpg);
  width: 100%;
  padding-bottom: 2%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container{
  display: flex;
  flex-direction: row; 
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 4%;
  width: 100%;
  animation: fadeIn 1s;
}

/*Cards*/

.card {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  margin: 5% 2% 0 2%;
  width: 20%;
  height: 30vh;
  border-radius: 16px;
  padding-bottom: 1%;
  min-width: 200px;
  min-height: 220px;
  box-shadow: 0px 0px 20px black;
  transition: all .2s ease-in-out; 
}

.card:hover{
  transform: scale(1.1); 
}

.card img{
  margin-top: 2%;
  width: 90%;
  height: 18vh;
  object-fit: cover;
  border-radius: 16px;
}

.card button{
  border-radius: 16px;
  width: 80%;
  height: 100%;
  transition: 0.3s;
  background-color: #0e6bc2;
  color: #ffffff;
}

.card button:hover{
  background-color: #ffffff;
  color: #0e6bc2;
  cursor: pointer;
}

.card button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*Cart Page*/

.CartContainer{
  background-image: url(../public/img/bg.jpg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: fadeIn 1s;
  padding-bottom: 2%;
}

.Cart{
  width: 50%;
  margin-top: 1%;
}

.homeButton{
  margin: 1% 5% 0 0;
  width: 11em;
  height: 6vh;
  background-color: #0e6bc2;
  color: #ffffff;
  border-radius: 12px;
  transition: 0.3s;
}

.homeButton:hover{
  background-color: #ffffff;
  color: #0e6bc2;
  cursor: pointer;
}

.homebutton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Cart table{
  border-collapse: collapse;
}

.Cart th, td{
  height: auto;
  background-color: #ffffff;
  text-align: right;
  border: 1px solid #aba8a7;
  padding: 1%;
}

.Cart td:hover{
  background-color: #ddd;
}

.Cart th{
  background-color: #1649b6;
  color: #ffffff;
  width: 30%;
  text-align: center;
}

.tdcenter{
  text-align: center;
}

.tdleft{
  text-align: left;
}

.remove{
  background-color: #fc1814;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.removeall{
  background-color: #fc1814;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/*If Cart is Empty*/

.empty{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
  width: 90%;
  height: 50vh;
  border-radius: 20px;
  border: 3px solid #fc1814;
  animation: fadeIn 1s;
}

.empty img{
  align-self: center;
  width: 40%;
  height: 50vh;
  overflow: hidden;
}

.empty h1{
  text-align: center;
  margin-top: 6%;
  width:5%;
  background-color: #fc1814;
  color: #ffffff;
  border-radius: 100%;
}

.empty p{
  overflow-wrap: break-word;
}


/*The Bill*/

.Bill{
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin: 2% 0 0 2%;
  padding: 4%;
  width:fit-content;
  height: fit-content;
  background-color: #e9e7e7;
  border : 1px solid #000000;
  border-radius: 26px;
  box-shadow: 0 0 10px #000000;
}

.Bill h1{
  text-align: center;
}

.Bill hr{
  background-color: #000000;
  width: 100%;
  height:1vh;
}

.Bill span {
  text-align: right;
}

.checkout{
  margin-top: 10%;
  width: 11em;
  height: 6vh;
  background-color: #0e6bc2;
  color: #ffffff;
  border-radius: 12px;
  transition: 0.3s;
  align-self: center;
}

.checkout:hover{
  background-color: #ffffff;
  color: #0e6bc2;
  cursor: pointer;
}

.checkout:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*Payment Successful*/

.success{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center ;
  height:100vh;
  width: 100%;
  animation: fadeIn 1s;
}

.success h1{
  font-size: 35px;
  color:#093594;
}

.success img{
  width: 50%;
  height: 50vh;
  object-fit: contain;
}

.success p{
  font-size: 25px;
}

.success button{
  margin-top: 1%;
  background-color: #093594;
  color: #ffffff;
  padding: 1%;
  width: fit-content;
  height: fit-content;
  border: #ffffff;
  border-radius: 20px;
  font-size: 20px;
  cursor:pointer;
  transition: all 0.5s;
}

.success button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.success button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.success button:hover span {
  padding-right: 25px;
}

.success button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Media Queries*/

@media only screen and (min-width: 900px) {
  .CartContainer {
    height: 100vh;
    padding-bottom: 0;
  }
}